---
import { cn, sluglify } from '@/utils'

const { name, activeCategory } = Astro.props
const currentPath = Astro.url.pathname
const unsluglifyNameCategory = sluglify(name.toLowerCase())

const isActive =
	(name === 'Home' && currentPath === '/') ||
	(name === 'All Posts' && currentPath.startsWith('/posts')) ||
	(activeCategory?.toLocaleLowerCase() === unsluglifyNameCategory &&
		name !== 'Home' &&
		name !== 'All Posts')

const getHref = () => {
	if (name === 'Home') return '/'
	if (name === 'All Posts') return '/posts'
	return sluglify(`/category/${unsluglifyNameCategory}/1`)
}
---

<a
	href={getHref()}
	class={cn(
		`px-4 py-2 rounded-full text-sm font-medium transition-colors duration-150 ease-linear bg-gray-200 dark:bg-gray-700 text-gray-600 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-600`,
		isActive && `bg-black text-white dark:bg-white dark:text-black`
	)}
>
	{name}
</a>
